<script type="text/ng-template" id="wip_info.html">
    Site is still under construction. <br> *No Uber ride has been requested*.
    <br> Thank you for visiting, and have a nice day! <br>
    <button ng-click="viewModel.proceed()">Continue</button>
</script>


<div class="textwidget margin-top-30">
    <p>No matter where you are, find a satisfactory meal, taxi cab, or shopping center. Our fast and friendly service brings you the best of many platforms.</p>
</div>
<div class="widget">
    <strong ng-show="!viewModel.uberProducts">Loading...</strong> Pick-up Location: <strong>{{viewModel.pickupLocation.name}}</strong><strong ng-show="viewModel.pickupLocation.name">, </strong><strong>{{viewModel.pickupLocation.address}}</strong>
    <br>

    <p>Desired Location: <strong>{{viewModel.desiredDestination.name}}</strong><strong ng-show="viewModel.desiredDestination.name">, </strong><strong>{{viewModel.desiredDestination.address}}</strong> </p>

    <strong ng-show="viewModel.uberProducts.length == 0">It appears there are no Uber products offered in the area. <br> We apologize for any inconvenience.<br></strong>
    <strong ng-show="!viewModel.validRideRequest()">Pick-up and Destination Locations cannot be the same. Please try again.</strong>
    <table ng-show="viewModel.validRideRequest()" ng-table="viewModel.tableParams" class="table">
        <tr ng-repeat="product in viewModel.uberProducts">
            <td title="" class="text-center">
                <img src="{{product.image}}" alt="{{product.display_name}}"></td>
            <td title="'Name'" class="text-center" header-class="'text-center'">
                {{product.display_name}}</td>
            <td title="'ETA'" class="text-center" header-class="'text-center'">
                {{product.eta || viewModel.placeHolderEmpty(product.eta)}}</td>
            <td title="'Est Cost'" class="text-center" header-class="'text-center'">
                {{product.avgPrice || viewModel.placeHolderEmpty(product.avgPrice)}}</td>
            <td title="">
                <button ng-click="viewModel.requestUberRide(product)" class="text-center" header-class="'text-center'">Order</button>
            </td>
        </tr>
    </table>
</div>