<div ng-app="app">
    <div ng-view></div>
</div>
<script src="/bower/angular/angular.min.js"></script>
<script src="/bower/angular-route/angular-route.min.js"></script>
<script src="/js/app/app.js"></script>
<script src="/js/app/route-config.js"></script>
<script src="/js/app/map/map.js"></script>
<script src="/js/app/favorites/favorites.js"></script>
<script src="/js/app/yelp/yelp.js"></script>
<script src="/js/app/uber/uber.js"></script>
<script src="/js/app/services/api-service.js"></script>
<script src="/js/app/services/location-service.js"></script>
<script src="/bower/ng-dialog/js/ngDialog.min.js"></script>
<link href="/bower/ng-dialog/css/ngDialog.min.css" rel="stylesheet" />
<link href="/bower/ng-dialog/css/ngDialog-theme-default.min.css" rel="stylesheet" />
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script src='/bower/lodash/dist/lodash.min.js'></script>
<script src='/bower/angular-simple-logger/dist/angular-simple-logger.min.js'></script>
<script src='//maps.googleapis.com/maps/api/js?libraries=places&sensor=false&language=US&v=3.17'></script>
<script src='/bower/angular-google-maps/dist/angular-google-maps.min.js'></script>
<link rel="stylesheet" href="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.css">
<script src="https://rawgit.com/esvit/ng-table/master/dist/ng-table.min.js"></script>
